.panelMonitoring {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1.4em 0;
    margin: 1em 0;
}

.panelMonitoring > * + * {
    margin-left: 20px;
}

.panelMonitoring_queueBox {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    border-radius: 4px;
    line-height: 1;
}

.panelMonitoring_queueBox > * + * {
    margin-left: 5px;
}

.panelMonitoring_queueBox_iconBox {
    display: flex;
    align-items: center;
}

.toMain, .toSi {
    position: relative;
    height: 0;
}

.toMain:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    margin-left: -20px;
    bottom: -43px;
    border: 20px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #7e7e7e; /* Добавляем треугольник */
}

.toSi:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    margin-left: -20px;
    top: -17px;
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #7e7e7e; /* Добавляем треугольник */
}

.tableStateIdMegaToContour {
    border-spacing: 5px 5px;
    display: inline-table;
}

.tableStateIdMegaToContour td {
    padding: 5px 10px;
    user-select: none;
    cursor: default;
    width: 60px;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 4px;
}

.tableStateIdMegaToContour .rowAction td {
    padding: 0 10px;
}

.tableStateIdMegaToContour.configurationMode td {
    cursor: pointer;
}

.tableStateIdMegaToContour td + td {
    text-align: center;
}

.tableProcessIdMegaToContour {
    font-size: 78%;
    border-spacing: 4px 4px;
    width: 100%;
}

.tableProcessIdMegaToContour th {
    padding: 0 4px;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
}

.tableProcessIdMegaToContour th:empty, .tableProcessIdMegaToContour td:empty {
    padding: 6px;
}

.tableProcessIdMegaToContour td {
    padding: 0 2px;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #E6E6E6;
    text-align: center;
    vertical-align: middle;
}

.tableProcessIdMegaToContour td.dark {
    background-color: #CBCBCB;
    text-align: left;
}

.tableProcessIdMegaToContour td.dark strong {
    font-size: 120%;
}

.tableProcessIdMegaToContour tbody tr:hover td:not(.dark) {
    background-color: #c4c4c4;
}

.directionToStandIn {
    display: block;
    position: relative;
    height: 0;
}

.directionToStandIn:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    margin-left: -20px;
    top: 0;
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #828282; /* Добавляем треугольник */
    animation-name: jumpingIconBottom;
    animation-iteration-count: infinite;
    animation-duration: 700ms;
}

@keyframes jumpingIconBottom {
    0% {
        top: 0;
        opacity: 1
    }
    70% {
        top: -10px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

.directionToMain {
    display: block;
    position: relative;
    height: 0;
}

.directionToMain:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    border: 20px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #828282; /* Добавляем треугольник */
    animation-name: jumpingIconTop;
    animation-iteration-count: infinite;
    animation-duration: 700ms;
}

@keyframes jumpingIconTop {
    0% {
        bottom: -10px;
        opacity: 0
    }
    70% {
        bottom: 0;
        opacity: 1
    }
    100% {
        bottom: -10px;
        opacity: 0
    }
}


.processTransitionContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
    user-select: none;
}

.processTransitionItem {
    box-sizing: border-box;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 0;
    gap: 6px;
    flex-shrink: 0;
}

.processTransitionItem_nameTb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    gap: 10px;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    color: #B4B4B4;
}

.processTransitionItem_statusesGroups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    gap: 6px;
    background: linear-gradient(180deg, #EEFFD8 33.33%, #FFFDEC 76.04%);
    border-radius: 32px;
}

.processTransitionContainer .contour_name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    border-radius: 100px;
    color: #cfcfcf;
    font-weight: 700;
}

.processTransitionContainer .contour_name.NORMAL.active {
    background: #CEF998;
    color: #7a7a7a;
    font-weight: 900;
}

.processTransitionContainer .contour_name.RESERVE.active {
    background: #FFF59D;
    color: #7a7a7a;
    font-weight: 900;
}

.processTransitionContainer .btn-push {
    position: relative;
    cursor: pointer;
}

.processTransitionContainer .btn-push .btn-push_text {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 900;
    color: #BEBEBE;
    font-size: 10px;
}

.processTransitionContainer .step {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2px 4%;
    height: 3.4em;
    overflow: hidden;
}

.processTransitionContainer .step .step_title {
    flex-grow: 1;
    width: 50%;
    white-space: nowrap;
    margin-left: -50%;
    margin-right: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.processTransitionContainer .step .step_title_top {
    font-size: 10px;
}

.processTransitionContainer .step .step_title_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .8em;
}

.processTransitionContainer .step .step_title_bottom:empty {
    margin-top: 0;
}

.processTransitionContainer .step .step_value {
    width: 50%;
    text-align: left;
    font-weight: 900;
}

.processTransitionContainer .step .step_value:last-child {
    width: 50%;
    text-align: right;
    font-weight: 900;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.spin {
    animation: spin 2s linear infinite;
}

.processTransitionContainer .completed-steps-all {
    font-weight: 900;
    opacity: 1;
    color: #c2c2c2;
    text-shadow: black 0 1px;
    display: flex;
    justify-content: center;
}

.processTransitionContainer .NEW_MAIN_STOP_BACKGROUND_PROCESSES,
.processTransitionContainer .NEW_MAIN_START_BACKGROUND_PROCESSES,
.processTransitionContainer .NEW_MAIN_STOP_ONLINE_PROCESSES,
.processTransitionContainer .NEW_MAIN_START_ONLINE_PROCESSES,
.processTransitionContainer .NEW_START_SI_ONLINE_PROCESSES,
.processTransitionContainer .NEW_STOP_SI_ONLINE_PROCESSES,
.processTransitionContainer .NEW_START_SI_BACKGROUND_PROCESSES,
.processTransitionContainer .NEW_STOP_SI_BACKGROUND_PROCESSES,
.processTransitionContainer .NEW_WAITING_JRN_QUEUE_LIMIT,
.processTransitionContainer .NEW_WAITING_JRN_QUEUE_EMPTY {
    background-color: #ECECEC;
    color: #A5A5A5;
}

.processTransitionContainer .IN_PROGRESS_MAIN_STOP_BACKGROUND_PROCESSES,
.processTransitionContainer .IN_PROGRESS_MAIN_START_BACKGROUND_PROCESSES,
.processTransitionContainer .IN_PROGRESS_MAIN_STOP_ONLINE_PROCESSES,
.processTransitionContainer .IN_PROGRESS_MAIN_START_ONLINE_PROCESSES,
.processTransitionContainer .IN_PROGRESS_START_SI_ONLINE_PROCESSES,
.processTransitionContainer .IN_PROGRESS_STOP_SI_ONLINE_PROCESSES,
.processTransitionContainer .IN_PROGRESS_START_SI_BACKGROUND_PROCESSES,
.processTransitionContainer .IN_PROGRESS_STOP_SI_BACKGROUND_PROCESSES,
.processTransitionContainer .IN_PROGRESS_WAITING_JRN_QUEUE_LIMIT,
.processTransitionContainer .IN_PROGRESS_WAITING_JRN_QUEUE_EMPTY {
    background-color: #5C5C5C;
    color: #B9B9B9;
    border: 1px solid #fff;
}

.processTransitionContainer .COMPLETED_MAIN_STOP_BACKGROUND_PROCESSES,
.processTransitionContainer .COMPLETED_MAIN_START_BACKGROUND_PROCESSES,
.processTransitionContainer .COMPLETED_MAIN_STOP_ONLINE_PROCESSES,
.processTransitionContainer .COMPLETED_MAIN_START_ONLINE_PROCESSES {
    background-color: #D0E7B0;
    color: #9B9B9B;
}

.processTransitionContainer .COMPLETED_START_SI_ONLINE_PROCESSES,
.processTransitionContainer .COMPLETED_STOP_SI_ONLINE_PROCESSES,
.processTransitionContainer .COMPLETED_START_SI_BACKGROUND_PROCESSES,
.processTransitionContainer .COMPLETED_STOP_SI_BACKGROUND_PROCESSES {
    background-color: #F3EFAC;
    color: #9B9B9B;
}

.processTransitionContainer .COMPLETED_WAITING_JRN_QUEUE_LIMIT,
.processTransitionContainer .COMPLETED_WAITING_JRN_QUEUE_EMPTY {
    background-color: transparent;
    color: #515151;
    border: 1px solid #000;
}

.processTransitionContainer .SKIPPED_MAIN_STOP_BACKGROUND_PROCESSES,
.processTransitionContainer .SKIPPED_MAIN_START_BACKGROUND_PROCESSES,
.processTransitionContainer .SKIPPED_MAIN_STOP_ONLINE_PROCESSES,
.processTransitionContainer .SKIPPED_MAIN_START_ONLINE_PROCESSES {
    background-color: #F8DED9;
    color: #AC8B84;
}

.processTransitionContainer .SKIPPED_START_SI_ONLINE_PROCESSES,
.processTransitionContainer .SKIPPED_STOP_SI_ONLINE_PROCESSES,
.processTransitionContainer .SKIPPED_START_SI_BACKGROUND_PROCESSES,
.processTransitionContainer .SKIPPED_STOP_SI_BACKGROUND_PROCESSES {
    background-color: #F8DED9;
    color: #AC8B84;
}

.processTransitionContainer .SKIPPED_WAITING_JRN_QUEUE_LIMIT,
.processTransitionContainer .SKIPPED_WAITING_JRN_QUEUE_EMPTY {
    background-color: #F8DED9;
    color: #AC8B84;
    border: 1px solid #AC8B84;
}
