.panelMonitoring {
    display: flex;
    align-items: stretch;
}
.panelMonitoring > * + * {
    margin-left: 20px;
}
.panelMonitoring_queueBox {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    border-radius: 4px;
    line-height: 1;
}
.panelMonitoring_queueBox > * + * {
    margin-left: 5px;
}
.panelMonitoring_queueBox_iconBox {
    display: flex;
    align-items: center;
}

.toMain, .toSi {
    position: relative;
    height: 0;
}
.toMain:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    margin-left: -20px;
    bottom: -43px;
    border: 20px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #7e7e7e; /* Добавляем треугольник */
}
.toSi:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 50%;
    margin-left: -20px;
    top: -17px;
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #7e7e7e; /* Добавляем треугольник */
}

.tableStateIdMegaToContour {
    border-spacing: 5px 20px;
}

.tableStateIdMegaToContour td {
    padding: 5px 10px;
    user-select: none;
    cursor: default;
    width: 60px;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 4px;
}

.tableStateIdMegaToContour.configurationMode td {
    cursor: pointer;
}
.tableStateIdMegaToContour td + td {
    text-align: center;
}
